#message-pane {
    background: url(https://getmyuni.azureedge.net/college-all-images/b-n-m-institute-of-technology-bnmit-bangalore/bnmit-images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
